{% extends '@CronCron/CronJob/base.html.twig' %}

{% block title %}Cron Jobs{% endblock %}

{% block body %}
<div class="table-container">
    <table class="table is-fullwidth mt-5">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Schedule</th>
            <th>Command</th>
            <th>Enabled</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for cronJob in cron_jobs %}
            <tr>
                <th>{{ cronJob.id }}</th>
                <td>{{ cronJob.name }}</td>
                <td>{{ cronJob.schedule }}</td>
                <td>{{ cronJob.command }}</td>
                <td>
                    {% if cronJob.enabled %}
                        <i class="fa fa-check has-text-success"></i>
                    {% else %}
                        <i class="fa fa-times has-text-danger"></i>
                    {% endif %}
                </td>
                <td>{{ cronJob.description }}</td>
                <td>
                    <div class="buttons has-addons">
                        <button class="button is-info is-small">
                            <span class="icon">
                                <i class="fa fa-pencil"></i>
                            </span>
                            <span>Edit</span>
                        </button>
                        {% if cronJob.enabled %}
                            <button class="button is-warning is-small">
                                <span class="icon">
                                    <i class="fa fa-toggle-on"></i>
                                </span>
                                <span>Disable</span>
                            </button>
                        {% else %}
                            <button class="button is-success is-small">
                                <span class="icon">
                                    <i class="fa fa-toggle-off"></i>
                                </span>
                                <span>Enable</span>
                            </button>
                        {% endif %}
                        <button class="button is-danger is-small">
                            <span class="icon">
                                <i class="fa fa-minus-circle"></i>
                            </span>
                            <span>Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
